<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidatmapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".PasswordFragment"></activity>
        <activity
            android:name=".Receipt"
            android:label="Receipt"
            android:noHistory="true" />
        <activity
            android:name=".Withdraw"
            android:label="Withdraw">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidatmapplication.Transactions" />
        </activity>
        <activity
            android:name=".Balance"
            android:label="Account Balance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidatmapplication.Transactions" />
        </activity>
        <activity android:name=".Transactions">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="com.example.androidatmapplication.Transactions" /> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>